JCCTEST/services/atonservice_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="atonservice"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="atonserviceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="atonserviceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="atonserviceOperationRequest">
		<wsdl:part name="parameters" element="tns:atonserviceOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="atonserviceOperationResponse">
		<wsdl:part name="parameters" element="tns:atonserviceOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="atonservicePortType">
		<wsdl:operation name="atonserviceOperation">
			<wsdl:input message="tns:atonserviceOperationRequest"></wsdl:input>
			<wsdl:output message="tns:atonserviceOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="atonserviceBinding" type="tns:atonservicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="atonserviceOperation">
			<soap:operation soapAction="http://www.talend.org/service/atonserviceOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="atonservice">
		<wsdl:port name="atonservicePort" binding="tns:atonserviceBinding">
			<soap:address location="http://localhost:8090/services/atonservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>